
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h2>ID : @ViewBag.ID</h2>
    <br />
    <h2>First Name : @ViewBag.FirstName</h2>
    <br />
    <h2>Last Name : @ViewBag.LastName</h2>
</div>